<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Material Back Side</title>
	<!--  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">-->
	<link rel="stylesheet" href="css/index.css"> </head>

<body class="card">
	<div class="content-ctr">
		<div class="header-content-ctr">
			<div class="header-content">
				<div class="title"><span>clearly stated, definite, apparent</span></div>
				<div class="par">
					<div id="question-audio">
					<span><svg viewbox="0 0 32 32"><polygon points="11,25 25,16 11,7"></polygon>Replay</svg></span><span style="display: none;"></span></div>
					<div class="question">&nbsp;
						<ul type="circle">
							<li><span>The president"s message was <i><span class="headword-example">clear-cut</span></i>: the company had to reduce personnel immediately.</span>
							</li>
							<li><span>Professor Larsen is well known for his interesting and <i><span class="headword-example">clear-cut</span></i> presentations.</span>
							</li>
						</ul>
					</div>
					<br> </div>
			</div>
		</div>
		<div class="main-content-ctr">
			<div class="main-content">
				<div class="title"></div>
				<div class="par">
					<div class="question">
						<div class="rus_def">отчетливый</div>
						<ul type="circle">
							<li>Послание президента было недвусмысленно: компания должна сократить кадры немедленно.</li>
							<li>Профессор Ларсен известен своими интересными и ясными выступлениями.</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
<header>
  <div class="header-bg">
  <div class="title"><div class="title-content-1">clear-cut</div> </div>
  <div class="title2"><div class="title-content-2">clear-cut</div></div>
</div>
  <div class="cta-ctr">
    <div class="cta"></div>
  </div>
</header>
	<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script src="js/index.js"></script>
</body>

</html>