<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Material Scroll Animation</title>
	<link rel="stylesheet" href="css/index.css">
	<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script src="https://code.jquery.com/ui/1.10.4/jquery-ui.min.js"></script>
</head>



<body class="card">
	<div class="hide-examples">
		
		pick out one you like!;&nbsp;&nbsp;
She picked out a nice dress for the party.;&nbsp;&nbsp;<div>I picked out the best apple in the basket.;&nbsp;&nbsp;</div><div>A: I want to buy a shirt, but I don't know which color to get. B: I'll help you pick out a color!</div>
<!--
			The magic genie will give you anything you ask for.; 
			For his birthday, Don asked for a new toy truck.; 
			The chef asked for a spoon.; 
			A: I asked for some money but my father said no. B: That's too bad. Now we can't go to see the movie tonight.
-->
<!--
		<ul>
			<li><i>The magic genie will give you anything you ask for.</i></li>
			<li>For his birthday, Don asked for a new toy truck.</li>
			<li>The chef asked for a spoon.</li>
			<li>A: I asked for some money but my father said no. B: That's too bad. Now we can't go to see the movie tonight.</li>
		</ul>
-->
	</div>
	<div class="content-ctr">
		<div class="header-content-ctr">
			<div class="header-content">
				<div class="par">
					<div class="question">
						<div class="q0">
							
								<i>Волшебный джин даст Вам что-либо, что Вы просите.;</i>
								На его день рождения Дон попросил новый игрушечный грузовик.;
								Шеф-повар попросил ложку.;
								A: Я попросил немного денег, но мой родительский элемент сказал «нет». B: Очень жаль. Теперь мы не можем пойти, чтобы посмотреть фильм сегодня вечером.
							
<!--
							<ul>
								<li><i>Волшебный джин даст Вам что-либо, что Вы просите.</i></li>
								<li>На его день рождения Дон попросил новый игрушечный грузовик.</li>
								<li>Шеф-повар попросил ложку.</li>
								<li>A: Я попросил немного денег, но мой родительский элемент сказал «нет». B: Очень жаль. Теперь мы не можем пойти, чтобы посмотреть фильм сегодня вечером.</li>
							</ul>
-->
						</div>
					</div>
					<div class="img_front"><img src="exmp_img.jpg"></div>
				</div>
			</div>
		</div>
		<div class="main-content-ctr">
			<div class="main-content">
				<div class="par"> </div>
			</div>
		</div>
	</div>
	<header>
		<div class="header-bg">
			<div class="title">
				<div class="title-content-1">ask for</div>
			</div>
			<div class="title2">
				<div class="title-content-2">ask for</div>
			</div>
		</div>
		<div class="cta-ctr">
			<div class="cta"></div>
		</div>
	</header>
	<div class="container">
		<div class="row">
			<div id="header" class="col-xs-12"></div>
		</div>
		<div class="row">
			<div id="stage" class="col-xs-12 ui-sortable"></div>
		</div>
		<div class="row">
			<div id="divider" class="col-xs-12"></div>
		</div>
		<div class="row">
			<div id="words" class="col-xs-12"></div>
		</div>
		<div class="myButt five">
			<div class="layer">BUTT</div>
			<div>BUTT</div>
		</div>
	</div>
	<script src="js/index.js"></script>
	<script src="js/scramble-base.js"></script>
</body>

</html>