div:first-child {
	opacity: .99;
}

.cf::after {
	content: "";
	display: table;
	clear: both;
}

/*==================================== 
		Basic card options
=====================================*/

/* --------------------- Additional option for Additional Card Fields plugin------------------------------ */
#qa {
	position: fixed;
	width: 100%;
}

.loc,
.card,
.card1,
.template_reading {
	overflow: hidden;
}

.G,
.q0,
.q1,
.q2 {
	display: inline-block;
	padding-left: .3em;
	border-left: 2px solid;
	border-right: 2px solid;
}

.G {
	border-left-color: gray;
}

.q0 {
	/*new card*/
	border-color: white;
}

.q1 {
	/*studied card*/
	border-color: darkgreen;
}

.q2 {
	/*Repeated card*/
	border-color: indigo;
}

/* --------------- Center content on page ---------------------- */

html {
	/*	display: table;*/
	height: 100%;
	width: 100%;
}

/*.ipad .card {*/
/*	position: absolute;*/
/*	-webkit-font-smoothing: antialiased;*/
/*	-webkit-backface-visibility: hidden;*/
/*}*/
/* hide ugly scrollbar*/
::-webkit-scrollbar {
	display: none;
}

::-moz-scrollbar {
	display: none;
}

html,
body {
	height: 100%;
	margin: 0 auto;
}

/* --------------- Center content vertically on page ---------------------- */

.browserhide {}

body {
	/*	background-repeat: no-repeat;*/
	/*	background-attachment: fixed;*/
	padding: 0;
	line-height: 1.5;
	height: 100%;
	margin: 0;
	overflow: hidden;
	-webkit-font-smoothing: subpixel-antialiased !important;
	-webkit-backface-visibility: hidden;
}

/*.card_1 {*/
/*	z-index: 100;*/
/*	background-attachment: fixed;*/
/*	background-repeat: no-repeat;*/
/*}*/
.card {
	@extend %alignBase;
	width: 100%;
	background: $background-app;
	position: absolute;
	height: 100%;
	margin: 0 auto;
	overflow: hidden !important;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.mac .card,
.win .card,
.iphone .card,
.ipad .card,
.mobile .card {
	overflow-x: hidden;
}

.hr_style {
	margin-bottom: 0%;
}

hr {
	width: 98%;
	height: 2px;
	border: 0;
	background: -webkit-linear-gradient(left, rgba(198, 63, 87, 0) 0%, rgba(198, 63, 87, 0.7) 50%, rgba(198, 63, 87, 0) 100%);
	margin-top: -.8em;
}

.normalize {
	margin: 0 auto;
}

#copyright {
	position: absolute;
	right: 15px;
	margin-top: -7px;
}

a {
	color: rgb(51, 102, 153);
	text-decoration: underline;
	cursor: auto;
}

a:hover {
/*	color: $c*/
	color: $color-prim;
}
a:visited {
	color: rgba(51, 102, 153, 0.36);;
}

.add-space-for-mobile {
	@media #{$brk-wide} {
		height: 360px;
		@media #{$brk-narrow} {
			height: 270px;
		}
		@media #{$brk-iPhone6sPlus-wide} {
			/*				*/
			/*        height: */
		}
		@media #{$brk-iPhone6s-wide} {
			/*        height: */
		}
		@media #{$brk-iPhone-wide} {
			height: 165px;
		}
		@media #{$brk-iPhone6sPlus-portrait} {
			/*        height: */
		}
		@media #{$brk-iPhone6s-portrait} {
			/*        height: */
		}
		@media #{$brk-extra-narrow} {
			height: 220px;
		}
	}
}

.highlight {
	margin-left: -9%;
	width: intrinsic;
	padding: 0 10px;
	background-color: $pink;
}

pre.highlight,
div.highlight {
	display: block;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	margin: 1.5em auto 1em 8%;
	min-width: 90%;
	padding: 2em;
	border-radius: .2em;
	background: #d2d4d4;
	overflow-y: auto;
	-webkit-overflow-y-scrolling: touch;
	/* lets it scroll lazy */
	max-height: 70%;
}

div.codehilite {
	overflow-x: auto;
	-webkit-overflow-y-scrolling: touch;
}

.table_answer {
	width: 70%;
	max-width: 910px;
	height: -webkit-min-content;
	height: -moz-min-content;
	height: min-content;
	margin: 20px auto;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	-webkit-box-shadow: 0 1px 14px rgba(0, 0, 0, 0.12);
	        box-shadow: 0 1px 14px rgba(0, 0, 0, 0.12);
	@media #{$brk-iPhone6sPlus-wide} {
		width: 80%;
	}
	@media #{$brk-iPhone6sPlus-portrait} {
		width: 90%;
	}
}

.td_back {
	/*	width: 70%;*/
	max-width: 910px;
	margin: 0 auto;
	/*	width: intrinsic;*/
	border: none;
}

.meaning {
	display: none;
	margin: 0 auto 10px;
	-webkit-box-shadow: $color-shadow-white;
	        box-shadow: $color-shadow-white;
	background: lighten($color-prim, 10%);
	width: 100%;
	padding: .5em;
}

.iphone .meaning,
.ipad .meaning,
.mobile .meaning {
	display: block;
}

.hide-examples {
	/*    margin-bottom: -500px;*/
	z-index: -100;
	position: absolute;
	top: -1000px;
}

.back>div>div ul {
	display: block;
	padding-bottom: 30px;
}
.back {
display: flex;
overflow: auto;
flex-direction: column;
height: 95%;
}

.russian {
	display: inline-block;
	padding: 0 .2em;
	margin-bottom: .5em;
	margin-top: .5em;
	background: lighten( $background-app , 8%);
}