/*==================================== 
 Typography
=====================================*/
@font-face{font-family:"Roboto-ThinItalic";src:url('_Roboto-ThinItalic.ttf');}
@font-face{font-family:"Roboto-Regular";src:url('_Roboto-Regular.ttf');}
@font-face{font-family:"Lato-HairlineItalic";src:url('_Lato-HairlineItalic.ttf');}


.card {
	font-size: 2em;

	@media #{$brk-wide} {
		font-size: .925em;
	}
	@media #{$brk-narrow} {
		font-size: .925em;
	}
	@media #{$brk-iPhone6s-wide} {
		font-size: .825em;
	}
}

.headword-example {
	color: $color-prim;
}
pre.highlight,
div.highlight {
	font-weight: 100;
	word-spacing: 0px;
	font-size: 1.3em;
	line-height: 120%;
	text-align: left;
// word-break: break-all;
word-wrap: break-word;
white-space: pre;
white-space: pre-wrap;
}
.mac pre.highlight,
.win pre.highlight 
.mac div.highlight,
.win div.highlight {
}

.question {
	font-weight: 100;
	word-spacing: 0px;
	line-height: 1.3em;
	text-align: left;
   font-size: rem(37);

   @media #{$brk-narrow}{
      font-size: em(37);
      line-height: 1em;
   }
   @media #{$brk-iPhone6sPlus-wide}{
      font-size: em(34);
   }
   @media #{$brk-iPhone6s-wide}{
      font-size: em(32);
   }
   @media #{$brk-iPhone-wide}{
      font-size: em(26);
   }
   @media #{$brk-iPhone6sPlus-portrait}{
      font-size: em(34);
   }
   @media #{$brk-iPhone6s-portrait}{
      font-size: em(32);
   }
   @media #{$brk-extra-narrow}{
      font-size: em(28);
   }
}

.meaning {
       text-align: center;
      font-family: "Roboto-ThinItalic";
      font-weight: 300;
    color: aliceblue;
    font-size: rem(37);

   @media #{$brk-narrow}{
      font-size: em(37);
      line-height: 1em;
   }
   @media #{$brk-iPhone6sPlus-wide}{
      font-size: em(34);
   }
   @media #{$brk-iPhone6s-wide}{
      font-size: em(32);
   }
   @media #{$brk-iPhone-wide}{
      font-size: em(26);
   }
   @media #{$brk-iPhone6sPlus-portrait}{
      font-size: em(34);
   }
   @media #{$brk-iPhone6s-portrait}{
      font-size: em(32);
   }
   @media #{$brk-extra-narrow}{
      font-size: em(28);
   }   
}
.win .meaning,
.mac .meaning {
	font-family: "Roboto";
	font-weight: 100;
}

.win .question {
//	font-family:"Tekton Pro";
//	font-family:"Cronos Pro";
	word-spacing: 0px;
	font-size: 2em;
}

header {
   .title-content-1{
      font-size: em(45);
      line-height: 120%;
      text-align: center;
      font-family: "Roboto-Regular";
      font-weight: 300;
      text-transform: capitalize;

         @media #{$brk-narrow}{
				font-size: em(40);
			}
			@media #{$brk-iPhone6sPlus-wide}{
				font-size: em(35);
			}
			@media #{$brk-iPhone6s-wide}{
				font-size: em(35);
			}
         @media #{$brk-iPhone-wide}{
            font-size: em(30);
         }
         @media #{$brk-iPhone6sPlus-portrait}{
            font-size: em(30);
         }
         @media #{$brk-iPhone6s-portrait}{
            font-size: em(28);
         }
   }
}
.win .header,
.mac .header {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 600;
}
header {
    &.active .title-content-1 {
    font-size: em(20);
    }
      @media #{$brk-wide}{
	    font-size: em(24);
			}
		@media #{$brk-wide-appButtons}{

			}
		@media #{$brk-narrow}{
			
			}
		@media #{$brk-iPhone6sPlus-wide}{
			font-size: em(22);
			}
		@media #{$brk-iPhone6s-wide}{
			font-size: em(20);
			}
		@media #{$brk-iPhone-wide}{
			font-size: em(18);
		}
		@media #{$brk-iPhone6sPlus-portrait}{
			font-size: em(20);
		}
		@media #{$brk-iPhone6s-portrait}{
			font-size: em(18);
		}
		@media #{$brk-extra-narrow}{
			font-size: em(16);
		}
}
.content-ctr {
   .title,
   h1, h2 {
      line-height: 1;
    font-family: "Roboto-Regular";
    font-size: em(30);
    color: $color-prim;
   }

  .par {
    font-family: "Roboto-ThinItalic";
		font-size: em(18);
    line-height: 110%;
    font-weight: 300;
    color: #9b9b9b;
		@media #{$brk-narrow}{
			font-size: em(18);
			}
		@media #{$brk-iPhone6sPlus-wide}{
			font-size: em(13);
		}
		@media #{$brk-iPhone6s-wide}{
			font-size: em(15);
		}
		@media #{$brk-iPhone-wide}{
			font-size: em(16);
		}
		@media #{$brk-iPhone6sPlus-portrait}{
//			font-size: em(24);
		}
		@media #{$brk-iPhone6s-portrait}{
			font-size: em(12);
		}
		@media #{$brk-extra-narrow}{
			font-size: em(14);
		}
  }
}
.win .content-ctr,
.mac .content-ctr {
.par {
	font-family: "Roboto";
	font-weight: 100;
	font-style: italic;
}

.title,
h1, h2, {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 600;
}
}
/* --------------- Scramble ---------------------- */
#words span, #stage span {
  color: #444;
   font-size: rem(37);
      @media #{$brk-narrow}{
         font-size: em(37);
      }
      @media #{$brk-iPhone6sPlus-wide}{
         font-size: em(30);
      }
      @media #{$brk-iPhone6s-wide}{
         font-size: em(32);
      }
      @media #{$brk-iPhone-wide}{
         font-size: em(22);
      }
      @media #{$brk-iPhone6sPlus-portrait}{
         font-size: em(32);
      }
      @media #{$brk-iPhone6s-portrait}{
         font-size: em(28);
      }
      @media #{$brk-extra-narrow}{
         font-size: em(22);
    }
}


.td_back {
	text-align: center;
}

/* ------------------------------- type Fonts---------------------------------- */

#typeans,#typeans1,#typeans2,#typeans3,#typeans4,#typeans5,#typeans6,#typeans7,#typeans8,
#typeans9,#typeans10,#typeans11,#typeans12,#typeans13,#typeans14,#typeans15,#typeans16,#typeans17,#typeans18,#typeans19,#typeans20,#typeans21
{
//	font-family: "TektonPro-Regular" !important;
	font-style: normal;
    font-size: 2em;
}
.win #typeans, .mac #typeans,.win #typeans1,.mac #typeans1,.win #typeans2,.mac #typeans2,.win #typeans3,.mac #typeans3,.win #typeans4,.mac #typeans4,.win #typeans5,.mac #typeans5,.win #typeans6,.mac #typeans6,.win #typeans7 .mac #typeans7,.win #typeans7 .mac #typeans8,.win #typeans9 .mac #typeans9,.win #typeans10 .mac #typeans10,.win #typeans11 .mac #typeans11,.win #typeans12 .mac #typeans12,.win #typeans13 .mac #typeans13,.win #typeans14 .mac #typeans14,.win #typeans15 .mac #typeans15,.win #typeans16 .mac #typeans16,.win #typeans17 .mac #typeans17,.win #typeans18 .mac #typeans18,.win #typeans19 .mac #typeans19,.win #typeans20 .mac #typeans20,.win #typeans21 .mac #typeans21 {
//	font-family:"Tekton Pro" !important;
    
	font-style: normal;
   color: $color-prim;
}
body {
//	font-family: 'Lato', sans-serif;
}

#typeans {
//	font-family: "CronosPro-LtIt" !important;
//	font-family: "TektonPro-Regular" !important;
	font-style: normal;
}
.win #typeans, .mac #typeans {
//	font-family:"Cronos Pro" !important;
}

.cloze {
//	font-family: "TektonPro-Regular";
}
.win .cloze,
.mac .cloze {
//	font-family:"Cronos Pro";
//	font-family:"Tekton Pro";
//	font-style: italic;
}

code#typeans {
//	font-family: "TektonPro-Regular" !important;
	font-size: 1.5rem;

	@media #{$brk-wide} {
		font-size: 1em;
	}
	@media #{$brk-narrow} {
		font-size: .875em;
	}
	@media #{$brk-extra-narrow} {
		font-size: .575em;
	}
}

.win code#typeans,
.mac code#typeans {
//	font-family: "Tekton Pro" !important;
	font-size: 1.5em;
	letter-spacing: .02em;

	@media #{$brk-wide} {
		font-size: 1em;
	}
	@media #{$brk-narrow} {
		font-size: .575em;
	}
}

#typeans {
	text-align: center;
}

.cloze {
	text-align: center;
	line-height: 0;
	color: $color-sec;
}


input#typeans {
	color: black;
   font-size: 2em;
}
input#typeans[title]{
	line-height: 1em;
}

code#typeans {
	line-height: 1.5;
	text-align: center;
	color: $color-prim;
}

.td_back {
	text-align: center;
}

#typeans span {
	background: $white;
	text-align: center;
}
.ipad .typeBad {
	background-color: red;
}
.typeBad {
	color: #dc322f;
	font-weight: normal;
}

.typeMissed,
.typePass {
	color: #268bd2;
	font-weight: normal;
}

.typeGood {
	color: #2ed85a;
	font-weight: normal;
}
